<h1>Hello, Rails!</h1>

<h1>USER Login Here</h1>
<form action="/welcome/index"  method="get">

    <input type="text" name="txtuser" placeholder="enter username" />
    <br>
    <br>
    <input type="password" name="txtpass" placeholder="enter password" />
    <br>
    <br>
    <input type="submit" name="btnsubmit" value="Login" />

</form>

<a href="welcome/reg">NEW USER REGISTER HERE</a>


<%=  @error   %>