<h1>NEW USER REGISTER HERE</h1>


<form action="/welcome/reg"  method="get">

    <input type="text" name="txtemail" placeholder="enter email" />
    <br>
    <br>
    <input type="text" name="txtpass" placeholder="enter password" />
    <br>
    <br>
    <input type="text" name="txtfname" placeholder="enter firstname" />
    <br>
    <br>
    <input type="text" name="txtmobile" placeholder="enter mobile" />
    <br>
    <br>
    <input type="submit" name="btnsubmit" value="REGISTER" />

</form>


